/* Theme color
============================================================================= */
body {
    font-family: 'Roboto', sans-serif;
}
.theme-color {
    color:#fff !important;
    background-color:#79c753 !important;
}
.theme-color-dark {
    color:#fff !important;
    background-color:#5da937 !important;
}
.theme-color-action {color:#fff !important;
    background-color:#3a6a22 !important;
}
.theme-padding {
    padding: 8px 16px!important
}

/* Navigation
============================================================================= */
#navigation,
#nav-sidebar {
    font-size: 1.7rem;
}
#navigation {
    overflow: visible;
}
#nav-sidebar {
    width: 100%;
    display: none;
}
#open-nav-sidebar,
#close-nav-sidebar{
    font-weight: bold;
}
#close-nav-sidebar {
    display: inline-block;
    width: auto;
}
#up-button {
    z-index: 999999;
    padding: 0;
    margin: 0;
    display: block;
    width: 50px;
    line-height: 50px;
    font-size: 15px!important;
    font-weight: bold;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: .6;
}

/* Icons
============================================================================= */
.icon-arrow-down {
    font-size: 0.8rem;
}

/* Title
============================================================================= */
#page-title,
#page-title-nav {
    font-weight: bold;
}
#page-title {
    font-size: 50px;
}
#page-logo {
    display: inline-block;
    height: 200px;
    width: auto;
}

/* Sections
============================================================================= */
section h2 {
    font-weight: bold;
}
.open-section {
    cursor: pointer;
}
#sign-up-content,
#profile-content {
    display: none;
}

/* Game
============================================================================= */
#sum-dice,
#bonus-dice {
    height: 50px;
}
#bonus-dice {
    margin-bottom: 20px;
}
#game-over-message{
    margin-top: 20px;
    background-color: #FF0000;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.correct-guess {
    background-color: #90EE90;
}
.wrong-guess {
    background-color: #F08080;
}

/* Scores
============================================================================= */
.table-container {
    max-height: 500px;
    overflow: auto;
}

/* Errors
============================================================================= */
#sign-up-errors-panel,
#log-in-errors-panel,
#game-errors-panel,
#game-over-message {
    display: none;
}
#game-errors-panel {
    margin-top: 20px;
}
.errors-panel {
    background-color: #FF0000 !important;
    color: #FFFFFF !important;
}
.close-panel {
    font-size: 2rem;
}

/* Footer
============================================================================= */
footer {
    margin-top: 20px;
}

/* Info
============================================================================= */
.info-error {
    color: #FFFFFF !important;
    background-color: #FF0000 !important;
}

#show-info-modal header,
#show-info-modal footer {
    color: #FFFFFF;
    background-color: #008000;
}
